// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "icon.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0, 0, 9, 5
PRODUCTVERSION 0, 0, 9, 5
FILEFLAGSMASK 0x3fL
FILEOS 0x40004
FILETYPE 0x1
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904B0"
BEGIN
VALUE "CompanyName", "Mandeye\0"
VALUE "FileDescription", "HDMapping Step 2\0"
VALUE "FileVersion", "0.9.5\0"
VALUE "InternalName", "Multi view TLS registration\0"
VALUE "LegalCopyright", "(c) 2025 github.com/MapsHD/HDMapping\0"
VALUE "OriginalFilename", "multi_view_tls_registration_step_2.exe\0"
VALUE "ProductVersion", "0.9.5\0"
VALUE "ProgramID", "github.com/MapsHD/HDMapping\0"
VALUE "ProductName", "HDMapping\0"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x409, 0x04B0
END
END
/////////////////////////////////////////////////////////////////////////////