[submodule "3rdparty/observation_equations"]
	path = 3rdparty/observation_equations
	url = https://github.com/JanuszBedkowski/observation_equations.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/LASzip"]
	path = 3rdparty/LASzip
	url = https://github.com/LASzip/LASzip.git
[submodule "3rdparty/manif"]
	path = 3rdparty/manif
	url = https://github.com/artivis/manif.git
[submodule "3rdparty/Fusion"]
	path = 3rdparty/Fusion
	url = https://github.com/xioTechnologies/Fusion.git
[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "3rdparty/opencv"]
	path = 3rdparty/opencv
	url = https://github.com/opencv/opencv.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/ImGuizmo"]
	path = 3rdparty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "3rdparty/freeglut"]
	path = 3rdparty/freeglut
	url = https://github.com/freeglut/freeglut.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
