# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

*.cproject
*.project
moc_*

BUILD
build

*.aux
*.log
*.synctex.gz
*.toc
#*.pdf
*.bbl
*.blg

*.orig
.ipynb_checkpoints/

*.pyc
*.pyd

data/

#Clion
.idea/
cmake-*

.vs/
.vscode/
3pbinary/

# imgui
imgui.ini
/out/install/x64-Debug
/out/install/x64-Release/bin
/out/install/x64-Release
/out_old/install

/.gitmodules
